*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 156px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo .accent-dark {
  color: #2e2f42;
}

.page-nav {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-style: normal;
  letter-spacing: 0.02em;
}

/* SECTION ORDER */

.button-order {
  display: flex;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 64px;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.big-white-text {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin: 0 auto;
}

.article-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
}

.title-main {
  background-color: #2e2f42;
  text-align: center;
}

/* Qualities */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.img-team {
  background-color: #ffffff;
}

/* PORTFOLIO */

/* FOOTER */

.footer-color {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.logo .accent-white {
  color: #f4f4fd;
}
