body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

.page-nav {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo .accent-dark {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  letter-spacing: 0.02em;
}

.button-order {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
}

.big-white-text {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.article-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
}

.img-team {
  background-color: #ffffff;
}

.title-main {
  background-color: #2e2f42;
  text-align: center;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.footer-color {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.logo .accent-white {
  color: #f4f4fd;
}
